<div class="container bg-light">
  <div ng-show="userInfo.user == null">
    <div ng-repeat="activity in activities">
      <!-- <div ng-if="activity.validated"> -->
      <h1>{{activity.name}}</h1>
      <h4>{{activity.location.city}}, {{activity.location.state}}</h4>
      <span style="font-size: 1.25em" ng-repeat="type in activity.activity_type">{{type}}, </span>
      <p>{{activity.description}}</p>

      <!-- </div> -->
    </div>
  </div>
  <div ng-show="userInfo.user != null">
    <div ng-repeat="activity in activities">
      <!-- <div ng-if="activity.validated"> -->
      <a href="/#!activities/{{activity._id}}">
        <h1>{{activity.name}}</h1>
        <h4>{{activity.location.city}}, {{activity.location.state}}</h4>
        <span style="font-size: 1.25em" ng-repeat="type in activity.activity_type">{{type}}, </span>
        <p>{{activity.description}}</p>
      </a>
      <!-- </div> -->
    </div>
  </div>
</div>
