<form name="userForm" action="{{'/api/users/' + userInfo.user._id}}" method="post">
  <label>First Name</label>
  <input type="text" name="firstName" data-ng-model="userInfo.user.firstName" required>
  <div role="alert">
    <span class="error" ng-show="userForm.firstName.$error.required">Required!</span>
  </div>
  <label>Last Name</label>
  <input type="text" name="lastName" data-ng-model="userInfo.user.lastName" required>
  <div role="alert">
    <span class="error" ng-show="userForm.lastName.$error.required">Required!</span>
  </div>
  <label>Password</label>
  <input type="text" name="password" ng-model="password" required>
  <div role="alert">
    <span class="error" ng-show="userForm.password.$error.required">Required!</span>
  </div>
  <label>Confirm Password</label>
  <input type="text" name="password2" ng-model="password2" required>
  <div role="alert">
    <span class="error" ng-show="userForm.password2.$error.required">Required!</span>
    <span class="error" ng-show="password != password2">Passwords need to match!</span>
  </div>
  <button type="submit" name="button">Update</button>
</form>
