<div class="container">
  <div class="container" style="display:flex;justify-content:center">
    <!-- buttons go here -->
    <button name="myActs" class="btn btn-outline-info" ng-click="name = 'myActs'">My Activities</button>
    <button name="update" class="btn btn-outline-info" ng-click="name = 'update'">Edit Profile</button>
  </div>
  <div ng-switch="name" class="container bg-light">
    <!-- update this area dynamically -->
    <div ng-switch-when="myActs">
      <p ng-show="activities.length==0">You don't have any activities! You can add activities from the activities page!</p>
      <div ng-repeat="act in activities">
        <a href="/#!activities/{{act.activityId}}">
          <h3>{{act.activityName}}</h3>
          <h5 ng-repeat="type in act.activity_type">{{type}}</h5>
        </a>
        <form action="{{'/api/userActs/' + act.userId + '/' + act._id + '?_method=DELETE'}}" method="post">
          <button type="submit" class="btn btn-danger btn-lg btn-block">Delete</button>
        </form>
      </div>
    </div>
    <div ng-switch-when="update">
      <div ng-include="'views/updateProfile.html'"></div>
    </div>
    <div ng-switch-default>
      <p>Hello, {{userInfo.user.firstName}}! <br/> This is your profile page! You can view activities you've saved or edit your profile.</p>
      <h3>Happy ventures!</h3>
    </div>
  </div>
</div>
