<div class="container bg-light">
  <form action="/api/users/" method="post" name="userForm">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control ng-class: firstName.length == null ? 'is-invalid' : 'is-valid'" type="text" name="firstName" ng-model="firstName" placeholder="Harry" required>
      <div class="invalid-feedback">Required!</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control ng-class: lastName.length == null ? 'is-invalid' : 'is-valid'" type="text" name="lastName" ng-model="lastName" placeholder="Potter" required>
      <div class="invalid-feedback">Required!</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input class="form-control ng-class: username.length == null ? 'is-invalid' : 'is-valid'" type="text" name="username" ng-model="username" placeholder="username" required>
      <div class="invalid-feedback">Required!</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control ng-class: password.length == null || password.length < 8 ? 'is-invalid' : 'is-valid'" type="password" name="password" ng-model="password" placeholder="password" required>
      <div class="invalid-feedback">Password must be at least 8 characters long.</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input class="form-control ng-class: password2.length == null || password2 != password ? 'is-invalid' : 'is-valid'" type="password" name="password2" ng-model="password2" placeholder="password" required>
      <div class="invalid-feedback">Passwords must match.</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <button type="submit" ng-disabled="username.length == null || password.length == null || password2.length == null || password.length < 4 || firstName == null || lastName == null" class="btn btn-info">Sign Up</button>
  </form>
</div>
