<div class="container">
  <form name="userForm" action="{{'/api/users/' + userInfo.user._id + '?_method=PUT'}}" method="post">
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control ng-class: userInfo.user.firstName.length == null ? 'is-invalid' : 'is-valid'" type="text" name="firstName" data-ng-model="userInfo.user.firstName" required>
      <div class="invalid-feedback">Required!</div>
      <div class="valid-feedback">Looks great!</div>
      <!-- <div role="alert">
        <span class="error" ng-show="userForm.firstName.$error.required">Required!</span>
      </div> -->
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control ng-class: userInfo.user.lastName.length == null ? 'is-invalid' : 'is-valid'" type="text" name="lastName" data-ng-model="userInfo.user.lastName" required>
      <div class="invalid-feedback">Required!</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input class="form-control ng-class: password.length == null || password.length < 8 ? 'is-invalid' : 'is-valid'" type="password" name="password" ng-model="password" required>
      <div class="invalid-feedback">Password must be at least 8 characters long.</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input class="form-control ng-class: password2 != password || password2.length == null ? 'is-invalid' : 'is-valid'" type="password" name="password2" ng-model="password2" required>
      <div class="invalid-feedback">Passwords must match.</div>
      <div class="valid-feedback">Looks great!</div>
    </div>
    <button type="submit" name="button" class="btn btn-info" ng-disabled="password.length == null || password2.length == null || password != password2">Update</button>
  </form>
  <form action="{{'/api/users/' + userInfo.user._id + '?_method=DELETE'}}" method="post">
    <button type="submit" class="btn btn-danger btn-lg btn-block">Delete Account</button>
  </form>
</div>
