<div class="container bg-light" ng-repeat="activity in activities" ng-show="userInfo.user == null">
  <!-- <div ng-if="activity.validated"> -->
  <h1>{{activity.name}}</h1>
  <h4>{{activity.location.city}}, {{activity.location.state}}</h4>
  <span style="font-size: 1.25em" ng-repeat="type in activity.activity_type">{{type}}, </span>
  <p>{{activity.description}}</p>

  <!-- </div> -->
</div>
<div ng-repeat="activity in activities"  ng-show="userInfo.user != null">
  <a style="text-decoration: none" href="/#!activities/{{activity._id}}">
    <div ng-init="hover = false" ng-mouseenter="hover = true" ng-mouseleave="hover = false" class="container ng-class: hover == true ? 'bg-white' : 'bg-light'">
      <div ng-show="activity.validated != true">
        <h1>***NEW***</h1>
      </div>
      <!-- <div ng-if="activity.validated"> -->
      <h1>{{activity.name}}</h1>
      <h4>{{activity.location.city}}, {{activity.location.state}}</h4>
      <span style="font-size: 1.25em" ng-repeat="type in activity.activity_type">{{type}}, </span>
      <p>{{activity.description}}</p>
      <a href="/#!validate/{{activity._id}}">
        <button class="btn btn-info btn-lg" type="button">Validate</button>
      </a>
      <form action="{{'/api/activities/' + activity._id + '?_method=DELETE'}}" method="post">
        <button class="btn btn-danger btn-lg" type="submit" name="button">Delete</button>
      </form>
      <!-- </div> -->
    </div>
  </a>

</div>
